<IfModule mod_headers.c>
    ServerSignature Off
    Header unset X-Powered-By
    Header set X-XSS-Protection "1; mode=block"
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^/index.php
    RewriteRule ^(.+)$ index.php [QSA,L]
</IfModule>