.table-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    border-spacing: 0; /* เพิ่มบรรทัดนี้เพื่อกำหนดช่องว่างระหว่างเซลล์ */
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd; /* เพิ่มเส้นด้านล่างในเซลล์ */
    border-right: 1px solid #ddd; /* เพิ่มเส้นด้านขวาในเซลล์ */
}

th {
    background-color: #f2f2f2;
    font-size: 11px;
    border-top: 1px solid #ddd; /* เพิ่มเส้นด้านบนในเซลล์หัวข้อ */
}

.card {
    width: 100%;
}

#data {
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 35px;
}
.hover {
    background-color: #f0f0f0; /* สีพื้นหลังเมื่อ hover */
}





/************* template btnsubmit *************/
/* CSS */
.btnsubmit {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 16px;
}

.btnsubmit:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btnsubmit:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btnsubmit:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}